<div class="card listing-card border-0 shadow-sm h-100">
  
  <div class="img-wrapper">
    <img [src]="listing.imageUrl" class="card-img-top listing-img" alt="Listing Image">
  </div>

  <div class="card-body p-3 d-flex flex-column align-items-center">
    
    <h5 class="card-title fw-bold mb-1 text-center title-text">
      {{ listing.title }}
    </h5>

    <div class="text-muted small mb-3">
      <i class="bi bi-geo-alt-fill text-danger me-1"></i> {{ listing.city }}
    </div>

    <div class="mt-auto d-flex justify-content-between align-items-center w-100 pt-3 border-top">
       <h5 class="fw-bold price-text m-0">
        {{ listing.price }} <span class="fs-6 text-muted fw-normal">ج.م</span>
      </h5>
      <a href="#" class="btn-view-details">
        عرض التفاصيل
      </a>
    </div>
  </div>
</div>